@use "/Abstracts" as *;

@function hsl($h, $s, $l) {
	@return unquote("#{$h} #{$s} #{$l}");
	// ? To hame color for colors
	// @return unquote("hsl(#{$h} #{$s} #{$l})");
}

$colors: (
	surface: (
		100: hsl(225, 16%, 11%),
		200: hsl(226, 14%, 15%),
		300: hsl(225, 14%, 18%),
		400: hsl(218, 14%, 25%),
		500: hsl(213, 12%, 32%),
		900: hsl(213, 10%, 97%),
	),
	brand: (
		200: hsl(0, 100%, 71%),
	),
);

@mixin create-custom-prop($list) {
	@each $type, $value in $list {
		@each $shade, $color in $value {
			//? Color var comes from Abstracts/_var.scss
			#{$color-var}-#{$type}-#{$shade}: #{$color};
		}
	}
}

:root {
	@include create-custom-prop($colors);
}
